<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages clientIDMode="Static"></pages>
      <authentication mode="Forms">
        <forms loginUrl="/GirisYap.aspx">
        </forms>
      </authentication>
    </system.web>
  <connectionStrings>
    <add name="PersonelDB" connectionString="Server=.; Database=Rehber; Integrated Security = true;"/>
  </connectionStrings>
</configuration>
